{% extends 'base.html.twig' %}

{% block body %}
    <h1>Route</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ route.id }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ route.path }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ route.name }}</td>
            </tr>
            <tr>
                <th>Controller</th>
                <td>{{ route.controller }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('system_route_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('system_route_edit', { 'id': route.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
